.menu {
    visibility: hidden;
    display: flex;
    position: fixed;
    inset: 0;
    z-index: 1;
    color: var(--white);
    flex-direction: column;
    justify-content: space-between;
    transform: translateY(-1000px);
    transition: all 0.3s ease-in-out;
    background: linear-gradient(to bottom,var(--couleurs-claire), var(--couleurs-tonique));
}

.menu[aria-hidden="false"] {
    transform: translateY(0);
    visibility: visible;
}

.menu__list{
    transform: translateY(100px);
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    gap: 20px;
}

.menu__link {
    font-family: var(--fonts-heading-font);
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 1.6px;
    text-decoration: none;
}

.menu__item {
    margin-bottom: var(--space3x);
    padding-bottom: var(--space1x);
    margin: 0;
}

.menu__social-network{
  display: flex;
  gap: var(--space2x);
  justify-content: end;
  margin: var(--space2x);
}
