.section {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    gap: 10px;
}

.section__title {
    display: flex;
    align-items:center;
    gap: 5px;
    font-style: italic;
    width: 100%;
    text-wrap: nowrap;
}

.section__title::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--couleurs-dominante);
}

.section__exergue {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 300;
    font-size: var(--fs-l);
    text-wrap: nowrap;
}

.section__exergue::before,
.section__exergue::after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--couleurs-tonique);
}

.section--no-text::before{
    width: 0;
}

.section__para{
    font-size: var(--fs-m);
    font-weight: 400;
}

.section__carousel{
    display: flex;
    gap: 16px;
    overflow-x: scroll;
    margin: 0 -40px;
    padding: 0 40px;
}

.section__carousel::-webkit-scrollbar{
    display: none;
}

.section__grid{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    grid-auto-rows: auto;
}

.section__img{
    width: 100%;
    height: 200px;
    border: 2px solid var(--couleurs-dominante);
    border-radius: 5px;
    object-fit: cover;
}